{% extends "auctions/layout.html" %}






{% block body %}

<form action="{% url 'categories' %}" method="POST">
    {% csrf_token %}
    <select name="caty" id="caty">
        <option value="">All Categories</option>
        {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
        {% endfor %}
    </select>
    <button type="submit">Submit</button>
</form>

<ul>
    <div class="container">
        <div class="row">
            {% for auction in auction_list %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ auction.item_img.url }}" >
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'listing_details' auction.id %}">{{ auction.title }}</a></h5>
                        <p class="card-text"><strong>Price: ${{ auction.price }}</strong></p>

                        <p class="card-text">Category: {{ auction.category }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}



