{% extends "auctions/layout.html" %}

{% block body %}
<h2>Watchlist</h2>
<ul>
  {% for watch in auctions_watchs %}
    
  <div class="col-md-6 mb-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        <a href="{% url 'listing_details' watch.id %}">{{ watch.title }}</a>
      </h4>
      
      <p class="card-text">{{ watch.description }}</p>
      <div class="image-container">
        <img src="{{ watch.item_img.url }}" class="img-fluid">
      </div>
      <p class="card-text"><strong> Price $ {{ watch.price }}</strong></p>
      
    
    </div>
  </div>
</div>


    
  {% empty %}
    <p>Your watchlist is empty.</p>
  {% endfor %}
</ul>
{% endblock %}
